<%- include('../partials/header.ejs')%>
<%- include('../partials/nav2.ejs')%>


<h1><%= title %></h1>
<p><%=post%> </p>
<% if (name === user?.name){%>
<form class="col s12" id="new-form" action="/posts/<%=id%>?_method=DELETE" method="POST">
<button class="btn waves-effect waves-light" type="submit" name="delete">Delete Post
  </button>
</form>
<%}%>
<br>
<% if (name === user?.name){%>
<form class="col s12" id="new-form" action="/posts/<%=id%>/edit" method="GET">
  <button class="btn waves-effect waves-light" type="submit" name="update">Update Post
    </button>
  </form>
<%}%>
<%- include('../partials/footer.ejs')%>